.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cartItem {
    width: 1000px;
    height: 200px;
    display: flex;

    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
  }
  
  .cartItem img {
    width: 150px;
  }
  .cartPictureAndTittle{
    padding-left: 30px; 
    padding-right: 150px;
  }
  
  .cartOrder {
    width: 1000px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 109, 0.6); 
    border-radius: 25px;
    margin: 30px;
    position: relative;
  }



  
  .continue-button {
    position: absolute; /* nastavíme absolútnu pozíciu pre tlačidlo */
    bottom: 0; 
    right: 0; 
    padding: 10px 20px; /* pridáme padding pre tlačidlo */
    margin: 20px;
  }
  
  .cartOrder p {
    font-size: 20px;
  }