
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation-bar {
  display: flex;
  background-color: #333;
  color: white;
  padding: 1rem;
}

.navigation-bar h1 {
  font-size: 1.8em;
}

.navigation-bar a {
  color: inherit;
  text-decoration: none;
}


/* new */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dFlex{
   display: flex;
   justify-content: center;
   align-items: center;
}


body{
  width: 100%;
  background-color: gray;
}

.mb_80 {
  margin-bottom: 30px;
}

.product_list_container{
  display: block;
  width: 100%;
  margin:50px auto;
  @media(max-width:80%){
    padding:50px 0 0 0;
  }
  @media(max-width:768px){
    padding:50px 20px 0 20px;
  }
}

.cta_group{
  margin: auto;
}

  .button_act{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 150px;
    height: 40px;
    border: 2px solid blue;
    border-radius: 20px;
    margin:20px 0;
    text-transform:uppercase;
    font-size: 14px;
    color: blue;
    font-weight: bold;
    transition:all .3s ease-in-out;
  }


.row :hover{
 border-color: blue;
 color:blue;
}

.row :hover .button_act {
  background-color:blue;
  color:white
}

/* product */ */

.wrapper{
  margin: 150px auto;
  width: 80%;
}


.product_price{
  margin: 50px auto;
  text-align: left;
}
.price {
  color: blue; 
}

.card_img {
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
}

.product_img{
  margin: 0;
  padding: 2em;
}

/* .btn-outline-primary {
  --bs-btn-color: red;
  --bs-btn-border-color: red;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0d6efd;
  --bs-btn-hover-border-color: #0d6efd;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0d6efd;
  --bs-btn-active-border-color: #0d6efd;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0d6efd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-gradient: none;
} */
