
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dFlex{
   display: flex;
   justify-content: center;
   align-items: center;
}


body{
  width: 100%;
  background-color: gray;
}

.mt-auto{
  padding: 2em;
}
